<div id="primary">
        <div id="wrap-user-avatar">
            <div id="border-div"></div>
            <div id="wrap-user-img">
            <img src="/upload/users/<?=Session::get('id')?>/avatar/<?=Session::get('avatar')?>" class='user-avatar' alt="" onerror="this.src = '/res/default/dafault_avatar.png'">
                <form method="post" enctype="multipart/form-data">
                    <div id="coad-column1">
                        <input type="file" name="fileToUpload"  name="choose-img">
                        <p>Выбрать</p>
                    </div>
                    <div id="load-column2">
                        <input type="submit"  name="load-avatar">
                        <p>Загрузить</p>
                    </div>
                </form>
            </div>
            <div id="user-self-menu">
                <table>
                    <tr>
                        <td><span class="green-text iden"></span></td>
                        <td><a href="">Друзья</a></td>
                    </tr>
                    <tr>
                        <td><span class="green-text iden"></span></td>
                        <td><a href="">Сообщения</a></td>
                    </tr>
                    <tr>
                        <td><span class="green-text iden"></span></td>
                        <td><a href="">Музыка</a></td>
                    </tr>
                    <tr>
                        <td><span class="green-text iden"></span></td>
                        <td><a href="">Фениксы</a></td>
                    </tr>
                    <tr>
                        <td><span class="yellow-text iden"></span></td>
                        <td><a href="">Настройки</a></td>
                    </tr>
                    <tr>
                        <td><span class="yellow-text iden"></span></td>
                        <td><a href="/user/signup"><span class='shadow-text'>Регистрация феникса</span></a></td>
                    </tr>
                </table>
            </div>
            <?php 
                if (Session::get('active') == '0') {
                    echo '
                    <form method="post">
                        <div id="change-login">
                            <span id="user-page-title">&#187; Изменить логин</span>
                            <input type="text" name="nowTextLogin" class="form-text" placeholder="Текущий логин" autocomplete="off">
                            <input type="text" name="newTextLogin" class="form-text" placeholder="Новый логин" autocomplete="off">
                        </div>
                        <hr>
                        <div id="change-password">
                            <span id="user-page-title">&#187; Изменить пароль</span>
                            <input type="password" name="nowPassText" class="form-text" placeholder="Текущий пароль" autocomplete="off">
                            <input type="password" name="newPassText" class="form-text" placeholder="Новый пароль" autocomplete="off">
                            <input type="password" name="newPassTextVer" class="form-text" placeholder="Повторите пароль" autocomplete="off">
                            <input type="submit" name="activate_account_btn" id="activate_account_btn" value="Активировать">
                        </div>
                    </form>
                    ';
                }else {
                    echo '
                        <div id="change-password">
                            <span id="user-page-title">&#187; Изменить пароль</span>
                            <form method="post">
                                <input type="password" name="nowPassText" class="form-text" placeholder="Текущий пароль" autocomplete="off">
                                <input type="password" name="newPassText" class="form-text" placeholder="Новый пароль" autocomplete="off">
                                <input type="password" name="newPassTextVer" class="form-text" placeholder="Повторите пароль" autocomplete="off">
                                <input type="submit" name="newBtnPass" class="form-submit" value="Изменить">
                            </form>
                        </div>
                    ';
                }
            ?>
        </div>
                <div class="userInfoOnPage">
                        <span id="user-page-title">
                            <span id="info-for-phoenix">&#187; Информация о фниксе</span>
                            <span id="info-for-pers">Информация о персонаже &#171;</span>
                        </span><br>
                    <div id="column1">
                        <table>
                            <tr>
                                <td>
                                    <p>
                                        <strong>Логин</strong>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <?php
                                            if(Session::get('active') == '0'){
                                                echo "<span class='red-text'>Не активен</span>";
                                            }else {
                                                echo Session::get('login');
                                            }
                                        ?>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>Статус пользователя</strong></p>
                                </td>
                                <td>
                                    <p><?=Session::get('member')?></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>Статус аккаунта</strong></p>
                                </td>
                                <td>
                                    <p><?php if (Session::get('active') == '0') {
                                            echo "<span class='red-text'>Не активен</span>";
                                        }else {
                                            echo "<span class='green-text'>Активен</span>";
                                        }
                                ?></p>
                            </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>Блокировка</strong></p>
                                </td>
                                <td>
                                    <p>
                                        <?php
                                            if (Session::get('block') == '00') {
                                                echo 'Нету';
                                            } else{
                                                echo "<span class='red-text'>Бан</span>";
                                            }
                                        ?>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>Имя</strong></p>
                                </td>
                                <td>
                                    <p><?=Session::get('name')?></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>День рождения</strong></p>
                                </td>
                                <td>
                                    <p class="userPageImdeator"><?=date('d/m/Y', Session::get('fenixdate'))?></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>
                                        <?php
                                            if (Session::get('gender') == '0') {
                                                echo "Стал фениксом";
                                            }elseif(Session::get('gender') == '1'){
                                                echo "Стала фениксом";
                                            }else{
                                                echo null;
                                            }
                                        ?>
                                    </strong></p>
                                </td>
                                <td>
                                    <p><?=date('d/m/Y', Session::get('fenixdate'))?></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>Семейное положение</strong></p>
                                </td>
                                <td>
                                    <p><span class="yellow-text">Вас не должно это волновать :)</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>.</p>
                                </td>
                                <td>
                                    <p>.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>.</p>
                                </td>
                                <td>
                                    <p>.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="column2">
                        <table>
                            <tr>
                                <td>
                                    <p class="userPageImdeator"><?=Session::get('nickname')?></p>
                                </td>
                                <td>
                                    <p><strong>имя в идеальном мире</strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="userPageImdeator"><?=Session::get('position')?></p>
                                </td>
                                <td>
                                    <p><strong>должность в гильдии</strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="userPageImdeator"><?=Session::get('race')?></p>
                                </td>
                                <td>
                                    <p><strong>раса персонажа</strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="userPageImdeator"><?=Session::get('class')?></p>
                                </td>
                                <td>
                                    <p><strong>класс персонажа</strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="userPageImdeator"><?=Session::get('level')?></p>
                                </td>
                                <td>
                                    <p><strong>текущий уровень</strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <?php
                                            if (Session::get('character_gender') == '0') {
                                                echo "Мужской";
                                            }elseif(Session::get('character_gender') == '1'){
                                                echo "Женский";
                                            }else{
                                                echo null;
                                            }
                                        ?>
                                    </p>
                                </td>
                                <td>
                                    <p><strong>пол персонажа</strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <?php
                                            if (Session::get('married') == null) {
                                                if (Session::get('character_gender') == '0') {
                                                    echo "Не женат";
                                                } elseif ( Session::get('character_gender') == '1' ) {
                                                    echo "Не замужем";
                                                }
                                            } else {
                                                echo Session::get('married');
                                            }
                                        ?>
                                    </p>
                                </td>
                                <td>
                                    <p><strong>
                                        <?php
                                            if (Session::get('character_gender') == '0') {
                                                echo "женат на";
                                            }elseif(Session::get('character_gender') == '1'){
                                                echo "замужем за";
                                            }else{
                                                echo null;
                                            }
                                        ?>
                                    </strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="userPageImdeator"><?=date('d/m/Y', Session::get('dateofadd'))?></p>
                                </td>
                                <td>
                                    <p><strong>
                                        <?php
                                            if (Session::get('character_gender') == '0') {
                                                echo "вступил в гильдию";
                                            }elseif(Session::get('character_gender') == '1'){
                                                echo "вступила в гильдию";
                                            }else{
                                                echo null;
                                            }
                                        ?>
                                    </strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="userPageImdeator"><?=Session::get('otherCharacters')?></p>
                                </td>
                                <td>
                                    <p><strong>второстепенные персонажи</strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="userPageImdeator"><?=Session::get('reborn')?></p>
                                </td>
                                <td>
                                    <p><strong>перерождение</strong></p>
                                </td>
                            </tr>
                        </table>
                    </div> <!-- End column1 -->
                </div>
            </div>